<div id="layout-wrapper">
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Pokemóns na Carteira</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Carteira</li>
                  <li class="breadcrumb-item active">Lista</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th data-column-id="name" class="text-center">
                          Nome
                        </th>
                        <th data-column-id="base_experience" class="text-center">
                          Experiência Base
                        </th>
                        <th data-column-id="actions" class="text-center">
                          Ação
                        </th>
                      </tr>
                      <!-- end tr -->
                    </thead>
                    <!--  end thead -->
                    <tbody>
                      <% @wallet_pokemons.each do |wallet_pokemon| %>
                        <tr>
                          <td data-column-id="name" class="text-center"><%= wallet_pokemon.name %></td>
                          <td data-column-id="base_experience" class="text-center"><%= wallet_pokemon.base_experience %></td>
                          <td>
                            <div class="dropdown text-center">
                              <%= link_to "Vender", [wallet_pokemon], data: {
                                  turbo_method: :delete
                                },
                                class:"btn btn-primary btn-sm" 
                              %>
                            </div>
                          </td>
                        </tr>

                      <% end %>

                    </tbody>
                    <!-- end tbody -->
                  </table>
                  <!--  end table -->
                </div>
                <!-- end table responsive -->

                 <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <%= page_entries_info @wallet_pokemons, entry_name: 'item' %>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-sm-6 float-end">
                    <%= paginate @wallet_pokemons %>
                  </div>
                  <!-- end col -->
                </div> 

                <!-- end row -->
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>

      </div>
    </div>
  </div>
</div>

