<nav>
  <ul class="pagination justify-content-end">
    <li class="page-item <%= "disabled" if @previous_offset.nil? %>">
      <%= link_to "Anterior", pokemons_path(:offset => @previous_offset), class: "page-link" %>
    </li>
    <li class="page-item active"><%= link_to ((@next_offset || @previous_offset + 20)/10), pokemons_path(:offset => (@next_offset-10 rescue @previous_offset)), class: "page-link" %></li>
    <li class="page-item <%= "disabled" if @next_offset.nil? %>"><%= link_to (((@next_offset || @previous_offset + 20)/10)+1), pokemons_path(:offset => (@next_offset rescue @previous_offset)), class: "page-link" %></li>
    <li class="page-item <%= "disabled" if @next_offset.nil? %>"><%= link_to (((@next_offset || @previous_offset + 20)/10)+2), pokemons_path(:offset => (@next_offset+10 rescue @previous_offset)), class: "page-link" %></li>
    <li class="page-item <%= "disabled" if @next_offset.nil? %>">
      <%= link_to "Próximo", pokemons_path(:offset => @next_offset), class: "page-link" %>
    </li>
  </ul>
</nav>