<div id="layout-wrapper">
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <%= render partial: "shared/breadcrumb",
                   locals: { title: 'Histórico de Operações', item: "Operações" } 
        %>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th data-column-id="name" class="text-center">
                          Nome
                        </th>
                        <th data-column-id="base_experience" class="text-center">
                          Experiência Base
                        </th>
                        <th data-column-id="actions" class="text-center">
                          Ação
                        </th>
                        <th data-column-id="actions" class="text-center">
                          Preço (USD)
                        </th>
                        <th data-column-id="actions" class="text-center">
                          Data
                        </th>
                      </tr>
                      <!-- end tr -->
                    </thead>
                    <!--  end thead -->
                    <tbody>
                      <% @operations.each do |operation| %>
                        <tr>
                          <td data-column-id="name" class="text-center">
                            <%= operation.pokemon_name %>
                          </td>
                          <td data-column-id="base_experience" class="text-center">
                            <%= operation.pokemon_base_experience %>
                          </td>
                          <td data-column-id="action" class="text-center">
                            <%= operation.operation == 'c' ? 'Compra' : 'Venda' %>
                          </td>
                          <td data-column-id="date" class="text-center">
                            <%= operation.usd_price.to_s.gsub!(/\./,",") %>
                          </td>
                          <td data-column-id="date" class="text-center">
                            <%= operation.created_at %>
                          </td>
                        </tr>

                      <% end %>

                    </tbody>
                    <!-- end tbody -->
                  </table>
                  <!--  end table -->
                </div>


                <!-- end table responsive -->
                <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <%= page_entries_info @operations, entry_name: 'item' %>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-sm-6 float-end">
                    <%= paginate @operations %>
                  </div>
                  <!-- end col -->
                </div> 
                <!-- end row -->
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>

      </div>
    </div>
  </div>
</div>

